/* Твой код ниже: */

section p + p {
    color: gray;
}






/*
Код ниже нужен для того, чтобы страница была ровной и красивой. 
Мы изучим все свойства в одном из следующих уроков, а пока не обращай на них внимания.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC&display=swap');

body {
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    border-radius: 8px;
    padding: 2em 2em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 10px 2px #eaeaea;
    position: fixed;
    top: 0;
    background: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

main h1 {
    margin-top: 1.5em;
}

section {
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 10px 2px #eaeaea;
    width: 50vw;
    border-radius: 8px;
    padding: 1em 2em;
    box-sizing: border-box;
    color: black;
    text-decoration: italic;
}
